<div class="page-header">
    <h1>Serviços</h1>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Menu de opções</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/cadastroServico">Cadastrar novo serviço</a></li>
                <li><a href="#/cadastroCategoria">Cadastrar nova categoria</a></li>
                <li><a href="#/listaServicos">Consultar serviços</a></li>
            </ul>            
        </div>
    </div>
</div>

<div class="col-md-9" ng-controller="ServicoController" >
    <h2>Cadastrar servico</h2>
    <form method="post" name="categoriaForm">
        <div class="form-group">
            <label for="codigo_id">Código</label>
            <div class="row">
                <div class="col-md-2">
                    <input type="text"  class="form-control" name="codigo" id="codigo_id" disabled/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" name="categoria" id="categoria_id">
                        <option>Selecione...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="nome_id">Nome</label>
            <div class="row">
                <div class="col-md-6">
                    <input type="text"  class="form-control" name="nome" id="nome_id"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="valor_id">Valor</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </div>
        </div>
        <button type="reset" class="btn btn-default">Limpar</button>
        <button type="submit" class="btn btn-primary" ng-click="gravar()">Gravar</button>
    </form>
</div>