<div class="page-header">
    <h1>Serviços</h1>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Menu de opções</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/cadastroServico">Cadastrar novo serviço</a></li>
                <li><a href="#/cadastroCategoria">Cadastrar nova categoria</a></li>
                <li><a href="#/listaServicos">Consultar serviços</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-9" ng-controller="CategoriaController" >
    <h2>Cadastrar categoria</h2>
    <div class="alert alert-success" role="alert" ng-show="msgOk" >{{msgOk}}</div>
    <div class="alert alert-danger" role="alert" ng-show="msgErro" >{{msgErro}}</div>
    <form method="post" name="categoriaForm">
        <div class="form-group">
            <label for="nome_id" >Nome da categoria</label>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" ng-model="categoria.nome"  class="form-control" name="nome"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="gravar()">Gravar</button>
    </form>
</div>